<%= render "shared/navbar" %>
<br>
<h3>Voici le potin détaillé :</h3><br>
<strong>Nom de l'auteur :</strong><br>
<%= @gossip.author.first_name %><br>
<strong>Titre du gossip :</strong><br>
<%= @gossip.title %><br>
<strong>Le gossip :</strong><br>
<%= @gossip.content %><br>
<strong>Le gossip :</strong><br>
<%= @gossip.created_at.strftime("%d/%m/%Y %H:%M:%S") %><br>
