<%= render "shared/navbar" %>
<br>
<h3>Voici la liste des auteurs !</h3>
<br>
<ul>
<% @users.each do |user| %>
<li> <strong> <%= user.first_name %> </strong> : <%= user.gossips.count %> gossips créés | <%= link_to "Voir l'auteur", user_id_path(user) %> </li>
<% end %>
</ul><br>
<%= link_to "--> Si tu veux créer un gossip <--", new_gossips_path %>