<%= render "shared/navbar" %>
<br>
<h2>Auteur <%= @user.first_name %> </h2><br>

<h3>L'auteur a créé <%= @user.gossips.count %> gossips : </h3><br>

<% @gossips.each do |gossip| %>
<li> <strong> <%= gossip.title %> </strong> : <%= gossip.content %> </li>
<% end %><br>

<h3>Le dernier date du <%= @user.gossips.last.created_at.strftime("%d/%m/%Y") %> </h3>